﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="pineapples">
<head>
    <title></title>
    <link rel="stylesheet" href="bower_components/nvd3/nv.d3.min.css" />
    <style>
        .ng-cloak {
            display: none
        }
        h1 {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 12pt;
            color: slategrey;
        }
        table.ataglance {
            table-layout: fixed;
            font-family: Tahoma;
            font-size: 9pt;
            border-collapse:collapse;
        }

        table.ataglance .tblhdr {
            background-color: #808080;
            color: white;
            font-weight: bold;
            text-align: left;
        }

        table.ataglance .colhdr {
            background-color: #0f0f5e;
            color: white;
            font-weight: normal;
            text-align:center;
        }

        table.ataglance .colhdr td {
            text-align:center;
        }
         table.ataglance .colhdr td.rowhdr {
            background-color:white;
            border-top: none;
            border-left: none;

            border-bottom: none;

        }
        table.ataglance .alt {
            font-style:italic;
        }

        table.ataglance .rowhdr {
            background-color: #0f0f5e;
            color: white;
            font-weight: normal;
             border-top: 1pt solid #0f0f5e;
            border-bottom: 1pt solid #0f0f5e;
            padding-right: 3px
        }

        table.ataglance tr {
            min-height: 30px;
        }

        table.ataglance td {
            padding:5px;
            text-align: right;
            border: 1px solid #D0D0D0;
        }

        table.ataglance .na {
            background-color: #D0D0D0;
        }

        table.ataglance .sec {

            border-right: 2px solid #D0D0D0;
        }

        table.kpigrid {
            table-layout: fixed;
            font-family: Calibri;
            font-size: 11pt;
        }

            table.kpigrid .colhdr {
                background-color: aqua;
            }

                table.kpigrid .colhdr.current {
                    background-color: blue;
                }

            table.kpigrid .rowhdr {
                background-color: aqua;
            }

                table.gendergrid .rowhdr.current {
                    background-color: blue;
                }

            table.kpigrid .colm {
                background-color: blanchedalmond;
            }

            table.kpigrid input {
                width: 40px;
                border: none;
                padding: 3px;
                background-color: inherit;
                text-align: right;
            }

            table.kpigrid .totg {
                text-align: right;
                color: gray;
            }

            table.kpigrid .tot {
                text-align: right;
                color: gray;
            }

            table.kpigrid input[type="number"]::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        rect.enrol { fill:#69c; opacity:0.5 }
        rect.enrolny { fill:#69c }
        rect.repeatny { fill:#c69 }
        svg #d1 { text-align:center; display:none; line-height:150px }
        svg:hover #d1 { display:block;}
        svg .repeatny {stroke:#c69;
				        fill: #c69;
				        stroke-width: 2px;
				        marker-start: url(#markerCircleR);
                        marker-end: url(#markerArrowR);				
				        }

        svg .promoteny {stroke:#69c;
				        fill: #69c;
				        stroke-width: 2px;
				        marker-start: url(#markerCircleP);
                        marker-end: url(#markerArrowP);				
				        }				

    </style>
    <script type="text/ng-template" id="cohortdiagramtemplate.html">

        <svg height="800px" width="{{_rc.xbase*4}}px">
            <defs>
                <marker id="markerCircleP" markerWidth="8" markerHeight="8" refx="5" refy="5">
                    <circle cx="5" cy="5" r="3" class="promoteny" style="stroke-width: 0px" />
                </marker>

                <marker id="markerArrowP" markerWidth="13" markerHeight="13" refx="2" refy="6"
                        orient="auto">
                    <path d="M2,2 L2,11 L10,6 L2,2" class="promoteny" style="stroke-width: 0px" />
                </marker>

                <marker id="markerCircleR" markerWidth="8" markerHeight="8" refx="5" refy="5">
                    <circle cx="5" cy="5" r="3" class="repeatny" style="stroke-width: 0px" />
                </marker>

                <marker id="markerArrowR" markerWidth="13" markerHeight="13" refx="2" refy="6"
                        orient="auto">
                    <path d="M2,2 L2,11 L10,6 L2,2" class="repeatny" style="stroke-width: 0px" />
                </marker>

            </defs>

            <!-- enrolment year 1 -->
            <text x="{{_rc.xbase - 40}}" y="20">{{ctrlr.selectedYear - 1}}</text>
            <text x="{{_rc.xbase + _rc.xgap + 40}}" y="20">{{ctrlr.selectedYear}}</text>
            <svg ng-repeat="yearData in ctrlr.data.yr" y="{{$index * _rc.ybase * 2 + 40}}">
                <text x="0" y="20">Year {{$index + 1}}</text>
                <svg x="100">
                    <rect x="{{_rc.xbase - _rc.xlen(ctrlr.data.yr[$index].e)}}" y="0" 
                          height="{{_rc.ylen(ctrlr.data.yr[$index].e)}}" width="{{_rc.xlen(ctrlr.data.yr[$index].e)}}" class="enrol">
                        <title>Enrolment: {{yearData.e}}</title>
                    </rect>
                    <!-- enrolment year 2 -->
                    <rect x="{{_rc.xbase + _rc.xgap}}" y="0" height="{{_rc.ylen(ctrlr.data.yn[$index].e)}}" width="{{_rc.xlen(ctrlr.data.yn[$index].e)}}" class="enrolny">
                        <title>Enrolment: {{ctrlr.data.yn[$index].e}} => Promoted: {{ctrlr.data.yn[$index].e - ctrlr.data.yn[$index].r}}</title>
                    </rect>
                    <!-- repeaters year 2 -->
                    <rect x="{{_rc.xbase + _rc.xgap}}" y="{{_rc.ylen(ctrlr.data.yn[$index].e) - _rc.ylen(ctrlr.data.yn[$index].r)}}"
                          height="{{_rc.ylen(ctrlr.data.yn[$index].r)}}"
                          width="{{_rc.xlen(ctrlr.data.yn[$index].r)}}"
                          class="repeatny">
                        <title>Repeaters: {{ctrlr.data.yn[$index].r}}</title>
                    </rect>

                    <text x="{{_rc.xbase*4}}" y="{{_rc.ybase}}">
                        <tspan>E: {{yearData.e}}</tspan>
                        <tspan dy="20">P: .032</tspan>
                        <tspan dy="40">R: {{ctrlr.data.yn[$index].r}}</tspan>
                    </text>

                    <!-- repeater path -->
                    <rect x="{{_rc.xbase}}" y="0" height="{{_rc.ylen(ctrlr.data.yn[$index].e)}}" width="{{_rc.xgap}}" style="fill:#fff; opacity: 0.0">
                        <title>Repetition Rate: {{ctrlr.data.yn[$index].r}}/{{ctrlr.data.yr[$index].e}} = {{ctrlr.RR($index) | number :3}}</title>
                    </rect>
                    <path d="M{{_rc.xbase}},{{_rc.ybase}} L{{_rc.xbase + _rc.xgap - 10}},{{_rc.ylen(yearData.e)}}" class="repeatny">
                        <title>Repetition Rate: {{ctrlr.data.yn[$index].r}}/{{ctrlr.data.yr[$index].e}} = {{ctrlr.RR($index) | number :3}}</title>
                    </path>

                    <rect x="{{_rc.xbase}}" y="{{_rc.ybase + 2 }}" height="{{_rc.ylen(ctrlr.data.yn[$index].e) - 2 }}" width="{{_rc.xgap}}" style="fill:#fff; opacity: 0.0">
                        <title>Promotion Rate: ({{ctrlr.data.yn[$index+1].e}} - {{ctrlr.data.yn[$index+1].r}})/{{ctrlr.data.yr[$index].e}} = {{ctrlr.PR($index) | number :3}}</title>
                    </rect>
                    <!-- promoted path -->
                    <path ng-show="!($last)" d="M{{_rc.xbase}},{{_rc.ylen(yearData.e)}} L{{_rc.xbase + _rc.xgap - 10}},{{_rc.ybase * 2}}" class="promoteny">
                        <title>Promotion Rate: ({{ctrlr.data.yn[$index+1].e}} - {{ctrlr.data.yn[$index+1].r}})/{{ctrlr.data.yr[$index].e}} = {{ctrlr.PR($index) | number :3}}</title>
                    </path>
                </svg>
            </svg>
        </svg>

    </script>
   
</head>
<body ng-controller="Ctrlr as vm">

    <h1 class="ng-cloak">{{vm.title}}</h1>


    <!-- At A Glance Primary -->
    <table class="ataglance ">
        <colgroup>
            <col width="25%" />
            <col width="7%" />
            <col width="6%" />
            <col width="6%" />
            <col width="6%" />
            <col width="7%" />
            <col width="6%" />
            <col width="6%" />
            <col width="6%" />
            <col width="7%" />
            <col width="6%" />
            <col width="6%" />
            <col width="6%" />

        </colgroup>
        <thead class="ng-cloak">
            <tr class="colhdr">
                <td class="rowhdr sec"></td>
                <td colspan="12" class="tblhdr">{{p.getNation()}} Primary Education At A Glance</td>
            </tr>
            <tr class="colhdr">
                <td class="rowhdr sec"></td>
                <th colspan="4">
                    <select ng-model="vm.baseYear">
                        <option>2014</option>
                        <option>2013</option>
                        <option>2012</option>
                        <option>2011</option>
                        <option>2010</option>
                        <option>2009</option>
                    </select>
                </th>
                <th colspan="4">
                    <select ng-model="vm.selectedYear">
                        <option>2014</option>
                        <option>2013</option>
                        <option>2012</option>
                        <option>2011</option>
                        <option>2010</option>

                    </select>
                </th>
                <th colspan="4">Change {{vm.baseYear}} - {{vm.selectedYear}}</th>
            </tr>
            <tr class="colhdr">
                <td class="rowhdr sec"></td>
                <td ng-repeat-start="i in [1,2,3]">Total</td>
                <td>F</td>
                <td>M</td>
                <td ng-repeat-end>F% <span class="alt">(GPI)</span></td>
            </tr>

        </thead>
        <tbody>
            <tr class="ng-cloak">
                <td class="rowhdr sec">Years of schooling</td>
                <td>{{vm.baseYearData.OfficialStartAge}}</td>
                <td colspan="3" class="na sec" />
                <td>{{vm.selectedYearData.OfficialStartAge}}</td>
                <td colspan="3" class="na sec" />
                <td>{{vm.selectedYearData.OfficialStartAge - vm.baseYearData.OfficialStartAge}}</td>
                <td colspan="3" class="na sec" />

            </tr>
            <tr class="ng-cloak">
                <td class="rowhdr sec">Official Start Age</td>
                <td>{{vm.baseYearData.OfficialStartAge}}</td>
                <td colspan="3" class="na sec" />
                <td>{{vm.selectedYearData.OfficialStartAge}}</td>
                <td colspan="3" class="na sec" />
                <td>{{vm.selectedYearData.OfficialStartAge - vm.baseYearData.OfficialStartAge}}</td>
                <td colspan="3" class="na sec" />
            </tr>
            <tr class="ng-cloak">
                <td class="rowhdr sec">Population (Est)</td>
                <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.baseYearData.Population[g]| percif :$last :0}}</td>
                <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.selectedYearData.Population[g]| percif :$last :0}}</td>
                <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.selectedYearData.Population[g] - vm.baseYearData.Population[g]| percif :$last :0}}</td>

            </tr>
            <tr class="ng-cloak">
                <td class="rowhdr sec">Number of Primary Schools</td>
                <td>{{p.schoolCount(baseYear, selectedSchoolType)}}</td>
                <td colspan="3" class="na sec" />
                <td>{{p.schoolCount(selectedYear, selectedSchoolType)}}</td>
                <td colspan="3" class="na sec" />
                <td>{{p.schoolCount(selectedYear, selectedSchoolType) - p.schoolCount(baseYear, selectedSchoolType)}}</td>
                <td colspan="3" class="na sec" />

            </tr>
            <tr class="ng-cloak">
                <td class="rowhdr sec">Enrolment</td>
                <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.baseYearData.Enrolment[g]| percif :$last :0}}</td>
                <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.selectedYearData.Enrolment[g]| percif :$last :0}}</td>
                <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.selectedYearData.Enrolment[g] - vm.baseYearData.Enrolment[g]| percif :$last :0}}</td>
            </tr>
            <tr class="ng-cloak">
                <td class="rowhdr sec">Official Age Enrolment</td>
                <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.baseYearData.NetEnrolment[g]| percif :$last :0}}</td>
                <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.selectedYearData.NetEnrolment[g]| percif :$last :0}}</td>
                <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.selectedYearData.NetEnrolment[g] - vm.baseYearData.NetEnrolment[g]| percif :$last :0}}</td>

            </tr>
            <tr class="ng-cloak">
                <td class="rowhdr sec">GER</td>
                <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.baseYearData.GER[g]| number:2}}</td>
                <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.GER[g]| number:2}}</td>
                <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.GER[g] - vm.baseYearData.GER[g]| number:2}}</td>
            </tr>
            <tr class="ng-cloak">
                <td class="rowhdr sec">NER</td>
                <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.baseYearData.NER[g]| number:2}}</td>
                <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.NER[g]| number:2}}</td>
                <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.NER[g] - vm.baseYearData.NER[g]| number:2}}</td>

            </tr>
            <tr class="ng-cloak">
                <td class="rowhdr sec"> </td>
                <td colspan="4" class="sec" />
                <td colspan="4" class="sec" />
                <td colspan="4" class="sec" />
            </tr>
            <tr class="ng-cloak">
                <td class="rowhdr sec">Number of Teachers</td>
                <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.baseYearData.Teachers[g]| percif :$last :0}}</td>
                <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.selectedYearData.Teachers[g]| percif :$last :0}}</td>
                <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.selectedYearData.Teachers[g] - vm.baseYearData.Teachers[g]| percif :$last :0}}</td>
            </tr>
            <tr class="ng-cloak">
                <td class="rowhdr sec">Certified</td>
                <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.baseYearData.TeachersCert[g]| percif :$last :0}}</td>
                <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.selectedYearData.TeachersCert[g]| percif :$last :0}}</td>
                <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.selectedYearData.TeachersCert[g] - vm.baseYearData.TeachersCert[g]| percif :$last :0}}</td>

            </tr>
            <tr class="ng-cloak">
                <td class="rowhdr sec">Certified %</td>
                <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.baseYearData.TeachersCertP[g]| percif :!($last) :2}}</td>
                <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.TeachersCertP[g]| number :2}}</td>
                <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.TeachersCertP[g] - vm.baseYearData.TeachersCertP[g]| percif :$last :0}}</td>


            </tr>
            <tr class="ng-cloak">
                <td class="rowhdr sec">Pupil/Teacher Ratio</td>

                <td>{{vm.baseYearData.PTR |number:1}}</td>
                <td colspan="3" class="na sec" />
                <td>{{vm.selectedYearData.PTR|number:1}}</td>
                <td colspan="3" class="na sec" />
                <td>{{vm.selectedYearData.PTR - vm.baseYearData.PTR|number:1}}</td>
                <td colspan="3" class="na sec" />
            </tr>
            <tr class="ng-cloak">
                <td class="rowhdr sec">No of Repeaters</td>
                <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.baseYearData.Repeaters[g]| percif :$last :0}}</td>
                <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.selectedYearData.Repeaters[g]| percif :$last :0}}</td>
                <td ng-repeat="g in ['T','F','M','P']" ng-class="{sec: $last}">{{vm.selectedYearData.Repeaters[g] - vm.baseYearData.Repeaters[g]| percif :$last :0}}</td>
            </tr>
            <tr class="ng-cloak">
                <td class="rowhdr sec">Repetition Rate</td>
                <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.baseYearData.RepRate[g]| percif:!($last) :2 }}</td>
                <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.RepRate[g]| percif:!($last) :2}}</td>
                <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.RepRate[g] - vm.baseYearData.RepRate[g]| percif:!($last) :2}}</td>
            </tr>
            <tr class="ng-cloak">
                <td class="rowhdr sec">Survival Rate to Year 4</td>
                <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.baseYearData.Survival4[g]| number :2 }}</td>
                <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.Survival4[g]| number :2}}</td>
                <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.Survival4[g] - vm.baseYearData.Survival4[g]| number :2}}</td>
            </tr>
            <tr class="ng-cloak">
                <td class="rowhdr sec">Survival Rate to Year 6</td>
                <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.baseYearData.Survival6[g]| number :2 }}</td>
                <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.Survival6[g]| number :2}}</td>
                <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.Survival6[g] - vm.baseYearData.Survival6[g]| number :2}}</td>

            </tr>
            <tr class="ng-cloak">
                <td class="rowhdr sec">GIR Year 6</td>
                <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.baseYearData.GIRLast[g]| number:2}}</td>
                <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.GIRLast[g]| number:2}}</td>
                <td ng-repeat="g in ['T','F','M','I']" ng-class="{sec: $last, alt: $last}">{{vm.selectedYearData.GIRLast[g] - vm.baseYearData.GIRLast[g]| number:2}}</td>
            </tr>

            </tr>
        </tbody>

    </table>




    <p class="ng-cloak">Source: {{vm.source}}</p>


    <div id="datadiv" ng-controller="ERCtrlr as chtc">

        <div>
            <h1>GER</h1>
            <!-- <nvd3 options="tblc.options" data="tblc.data"></nvd3>  -->
            <nvd3-multi-bar-chart data="chtc.selectedYearData.ger"
                                  id="gerpricht"
                                  width="1000"
                                  height="400"
                                  showxaxis="true"
                                  showyaxis="true"
                                  x="chtc.chtx"
                                  y="chtc.chty"
                                  showlegend="true"
                                  showcontrols="false"
                                  xaxisrotatelabels="-90">
                <svg></svg>
            </nvd3-multi-bar-chart>
            <h1>NER</h1>
            <!-- <nvd3 options="tblc.options" data="tblc.data"></nvd3>  -->
            <nvd3-multi-bar-chart data="chtc.selectedYearData.ner"
                                  id="nerpricht"
                                  width="1000"
                                  height="400"
                                  showxaxis="true"
                                  showyaxis="true"
                                  x="chtc.chtx"
                                  y="chtc.chty"
                                  showlegend="true"
                                  showcontrols="false"
                                  xaxisrotatelabels="-90">
                <svg></svg>
            </nvd3-multi-bar-chart>
            <h1>Enrolment</h1>
            <!-- <nvd3 options="tblc.options" data="tblc.data"></nvd3>  -->
            <nvd3-multi-bar-chart data="chtc.selectedYearData.enrol"
                                  id="enrolpricht"
                                  width="1000"
                                  height="400"
                                  showxaxis="true"
                                  showyaxis="true"
                                  x="chtc.chtx"
                                  y="chtc.chty"
                                  showlegend="true"
                                  showcontrols="false"
                                  xaxisrotatelabels="-90">
                <svg></svg>
            </nvd3-multi-bar-chart>
            <h1>Population</h1>
            <!-- <nvd3 options="tblc.options" data="tblc.data"></nvd3>  -->
            <nvd3-multi-bar-chart data="chtc.selectedYearData.pop"
                                  id="poppricht"
                                  width="1000"
                                  height="400"
                                  showxaxis="true"
                                  showyaxis="true"
                                  x="chtc.chtx"
                                  y="chtc.chty"
                                  showlegend="true"
                                  showcontrols="false"
                                  xaxisrotatelabels="-90">
                <svg></svg>
            </nvd3-multi-bar-chart>

        </div>
    </div>
    <div ng-controller="RCCtrlr as ctrlr">
        <h1> Reconstructed Cohort and Survival Rate</h1>
   

        <table class="ataglance">
            <thead>
                <tr class="colhdr">
                    <th>Year</th>
                    <th>Promotion</th>
                    <th>Repetition</th>
                    <th>Dropout</th>
                    <th>Transition</th>
                    <th>Survival To</th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="yearData in ctrlr.data.yr" >
                    <td class="rowhdr">Year {{$index + 1}}</td>
                    <td ng-class="{na: $last}">{{ctrlr.PR($index) | number:3}}</td>
                    <td>{{ctrlr.RR($index) | number:3}}</td>
                    <td ng-class="{na: $last}">{{ctrlr.DR($index) | number:3}}</td>
                    <td ng-class="{na: $last}">{{ctrlr.TR($index) | number:3}}</td>
                    <td>{{ctrlr.SR($index - 1) | number:3}}</td>
                </tr>
            </tbody>
        </table>
        <cohort-diagram xlen="300" xgap="50" ylen="50" rel="{{ctrlr.data.yn[0].e}}" />
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
    <script src="bower_components/d3/d3.min.js"></script>
    <script src="bower_components/nvd3/nv.d3.min.js"></script>
    <script src="bower_components/angularjs-nvd3-directives/dist/angularjs-nvd3-directives.js"></script>
    <script type="text/javascript">
        var format = function (str, col) {
            col = typeof col === 'object' ? col : Array.prototype.slice.call(arguments, 1);

            return str.replace(/\{\{|\}\}|\{(\w+)\}/g, function (m, n) {
                if (m == "{{") { return "{"; }
                if (m == "}}") { return "}"; }
                return col[n];
            });
        };
        String.prototype.format = function (col) { return format(this, col); };

        //------------------------------------
        // main module declaration
        //------------------------------------
        angular.module('pineapples', ['nvd3ChartDirectives']);
        //-----------------------------------------
        // resource to fetch verm data
        //-----------------------------------------


        //------------------------------------
        // Pineapple API defined as service
        //------------------------------------
        (function () {
            function Pineapple(data) {
                var self = this;
                this.xml = $(data);

            }

            // this function contructs the pineapples prototype

            function makepp() {
                var pp = {};
                pp.domvalue = function (xpath, xattr) {
                    if (xattr)
                        return this.xml.find(xpath).attr(xattr);
                    else
                        return xml.find(xpath).text();
                };
                pp.domsum = function (xpath, xattr) {
                    var tot = 0;
                    this.xml.find(xpath).each(function (ix) {
                        if (xattr)
                            tot += parseFloat($(this).attr(xattr));
                        else
                            tot += parseFloat($(this).text());
                    });
                    return tot;
                };
                pp.schoolCount = function (year, schoolType) {
                    if (year)
                        var xpath = format('schoolcounts > schoolcount[year="{0}"][schooltype="{1}"]', year, schoolType);
                    else {
                        var xpath = format('schoolcounts > schoolcount[schooltype="{0}"]', schoolType);
                    }
                    return this.domsum(xpath, 'count');

                };

                pp.ERTable = function (surveyYear, edLevelCode, gender, dataPoint) {
                    if (!gender)
                        gender = "";
                    var xpath = 'ERs > ER[year="{0}"][edLevelCode="{1}"]'.format(surveyYear, edLevelCode, gender, dataPoint);

                    xpath = format('ERs > ER[year="{0}"][edLevelCode="{1}"] > {3}{2}', surveyYear, edLevelCode, gender, dataPoint);

                    switch (gender) {
                        case 'I':
                        case 'GPI':
                        case 'F/M':
                            var f = this.ERTable(surveyYear, edLevelCode, "F", dataPoint);
                            var m = this.ERTable(surveyYear, edLevelCode, "M", dataPoint);
                            return f / m;

                        case "M%":
                            var tot = this.ERTable(surveyYear, edLevelCode, "", dataPoint);
                            var m = this.ERTable(surveyYear, edLevelCode, "M", dataPoint);
                            return m / tot;

                        case "F%":
                            var tot = this.ERTable(surveyYear, edLevelCode, "", dataPoint);
                            var f = this.ERTable(surveyYear, edLevelCode, "F", dataPoint);
                            return f / tot;

                        case 'M':
                        case 'F':
                        case '':
                            return this.domsum(xpath);
                    }
                }

                pp.edLevelHeader = function (surveyYear, edLevelCode, item) {
                    var xpath = format('ERs > ER[year="{0}"][edLevelCode="{1}"]', surveyYear, edLevelCode);
                    var xattr = item
                    return this.domsum(xpath, xattr);
                }
                pp.edLevelEnrol = function (surveyYear, edLevelCode, gender) {
                    return this.ERTable(surveyYear, edLevelCode, gender, "enrol");
                }
                pp.edLevelNetEnrol = function (surveyYear, edLevelCode, gender) {
                    return this.ERTable(surveyYear, edLevelCode, gender, "nEnrol");
                }

                pp.edLevelPop = function (surveyYear, edLevelCode, gender) {
                    return this.ERTable(surveyYear, edLevelCode, gender, "pop");
                }


                pp.edLevelGER = function (surveyYear, edLevelCode, gender) {
                    return this.ERTable(surveyYear, edLevelCode, gender, "ger");
                }

                pp.edLevelNER = function (surveyYear, edLevelCode, gender) {
                    return this.ERTable(surveyYear, edLevelCode, gender, "ner");
                }

                pp.edLevelGIR = function (surveyYear, edLevelCode, gender) {
                    return this.ERTable(surveyYear, edLevelCode, gender, "gir");
                }

                pp.edLevelNIR = function (surveyYear, edLevelCode, gender) {
                    return this.ERTable(surveyYear, edLevelCode, gender, "nir");
                }
                pp.edLevelGIRLast = function (surveyYear, edLevelCode, gender) {
                    // find the last year of ed
                    var yoeLast = this.edLevelLastYoE(surveyYear, edLevelCode)
                    return this.yoeGIR(surveyYear, yoeLast, gender)

                }
                pp.edLevelNIRLast = function (surveyYear, edLevelCode, gender) {
                    // find the last year of ed
                    var yoeLast = this.edLevelLastYoE(surveyYear, edLevelCode)
                    return this.yoeNIR(surveyYear, yoeLast, gender)

                }


                pp.edLevelIntake = function (surveyYear, edLevelCode, gender) {
                    return this.ERTable(surveyYear, edLevelCode, gender, "intake");
                }

                pp.edLevelNetIntake = function (surveyYear, edLevelCode, gender) {
                    return this.ERTable(surveyYear, edLevelCode, gender, "nIntake");
                }
                pp.edLevelRep = function (surveyYear, edLevelCode, gender) {
                    return this.ERTable(surveyYear, edLevelCode, gender, "rep");
                }
                pp.edLevelRepRate = function (referenceYear, edLevelCode, gender) {
                    switch (gender) {
                        case "I":
                        case "GPI":
                        case "F/M":
                            var m = this.edLevelRepRate(referenceYear, edLevelCode, "M");
                            var f = this.edLevelRepRate(referenceYear, edLevelCode, "F");
                            return f / m;
                        case "F":
                        case "M":
                        case "":
                            var r = this.ERTable(referenceYear + 1, edLevelCode, gender, 'rep');
                            var e = this.ERTable(referenceYear, edLevelCode, gender, 'enrol');
                            return r / e;
                    }

                }

                //**********
                // Education Level parameters
                //**********
                pp.edLevelNumYears = function (surveyYear, edLevelCode) {
                    return this.edLevelHeader(surveyYear, edLevelCode, "numYears");
                }

                pp.edLevelStartAge = function (surveyYear, edLevelCode) {
                    return this.edLevelHeader(surveyYear, edLevelCode, "startAge");
                }
                pp.edLevelFirstYoE = function (surveyYear, edLevelCode) {
                    return this.edLevelHeader(surveyYear, edLevelCode, "firstYear");
                }
                pp.edLevelLastYoE = function (surveyYear, edLevelCode) {
                    return this.edLevelHeader(surveyYear, edLevelCode, "lastYear");
                }

                //**************
                // Class Level enrolment
                //
                pp.itemTableBase = function (xpathTable, surveyYear, itemCode, gender, dataPoint) {
                    if (!gender)
                        gender = "";
                    //var xpath = 'ERs > ER[year="{0}"][edLevelCode="{1}"]'.format(surveyYear, levelCode, gender, dataPoint);

                    var xpath = format(xpathTable, surveyYear, itemCode, gender, dataPoint);

                    switch (gender) {
                        case 'I':
                        case 'GPI':
                        case 'F/M':
                            var f = this.itemTableBase(xpathTable, surveyYear, itemCode, "F", dataPoint);
                            var m = this.itemTableBase(xpathTable, surveyYear, itemCode, "M", dataPoint);
                            return f / m;

                        case "M%":
                            var tot = this.itemTableBase(xpathTable, surveyYear, itemCode, "", dataPoint);
                            var m = this.itemTableBase(xpathTable, surveyYear, itemCode, "M", dataPoint);
                            return m / tot;

                        case "F%":
                            var tot = this.itemTableBase(xpathTable, surveyYear, itemCode, "", dataPoint);
                            var f = this.itemTableBase(xpathTable, surveyYear, itemCode, "F", dataPoint);
                            return f / tot;

                        case 'M':
                        case 'F':
                        case '':
                            return this.domsum(xpath);
                    }

                };
                pp.classLevelTable = function (surveyYear, levelCode, gender, dataPoint) {
                    var xpath = 'LevelERs > LevelER[year="{0}"][levelCode="{1}"] > {3}{2}';
                    return this.itemTableBase(xpath, surveyYear, levelCode, gender, dataPoint);
                };

                pp.classLevelEnrol = function (surveyYear, levelCode, gender) {
                    return this.classLevelTable(surveyYear, levelCode, gender, "enrol");
                };
                pp.classLevelNetEnrol = function (surveyYear, levelCode, gender) {
                    return this.classLevelTable(surveyYear, levelCode, gender, "nEnrol");
                };
                pp.classLevelPop = function (surveyYear, levelCode, gender) {
                    return this.classLevelTable(surveyYear, levelCode, gender, "pop");
                };
                pp.classLevelNER = function (surveyYear, levelCode, gender) {
                    return this.classLevelTable(surveyYear, levelCode, gender, "ner");
                };
                pp.classLevelGER = function (surveyYear, levelCode, gender) {
                    return this.classLevelTable(surveyYear, levelCode, gender, "ger");
                };
                // single year versions - by year of education
                pp.yoeTable = function (surveyYear, yoe, gender, dataPoint) {
                    var xpath = 'LevelERs > LevelER[year="{0}"][yearOfEd="{1}"] > {3}{2}';
                    return this.itemTableBase(xpath, surveyYear, yoe, gender, dataPoint);
                };
                pp.yoeEnrol = function (surveyYear, yoe, gender) {
                    return this.yoeTable(surveyYear, yoe, gender, "enrol");
                };
                pp.yoeNetEnrol = function (surveyYear, yoe, gender) {
                    return this.yoeTable(surveyYear, yoe, gender, "nEnrol");
                };
                pp.yoePop = function (surveyYear, yoe, gender) {
                    return this.yoeTable(surveyYear, yoe, gender, "pop");
                };
                pp.yoeRep = function (surveyYear, yoe, gender) {
                    return this.yoeTable(surveyYear, yoe, gender, "rep");
                };
                pp.yoeNER = function (surveyYear, yoe, gender) {
                    return this.yoeTable(surveyYear, yoe, gender, "ner");
                };
                pp.yoeGER = function (surveyYear, yoe, gender) {
                    return this.yoeTable(surveyYear, yoe, gender, "ger");
                };
                pp.yoeNIR = function (surveyYear, yoe, gender) {
                    return this.yoeTable(surveyYear, yoe, gender, "nir");
                };
                pp.yoeGIR = function (surveyYear, yoe, gender) {
                    return this.yoeTable(surveyYear, yoe, gender, "gir");
                };

                //
                // Sectors, including teacher numbers
                //
                pp.sectorTable = function (surveyYear, sectorCode, gender, dataPoint) {
                    var xpath = 'TeacherQCs > TeacherQC[year="{0}"][sectorCode="{1}"] > {3}{2}';
                    return this.itemTableBase(xpath, surveyYear, sectorCode, gender, dataPoint);
                };

                pp.sectorTeachers = function (surveyYear, sectorCode, gender) {
                    return this.sectorTable(surveyYear, sectorCode, gender, "Teachers");
                };

                pp.sectorTeachersQual = function (surveyYear, sectorCode, gender) {
                    return this.sectorTable(surveyYear, sectorCode, gender, "qual");
                };
                pp.sectorTeachersQualP = function (surveyYear, sectorCode, gender) {
                    return this.sectorTable(surveyYear, sectorCode, gender, "qualPerc");
                };
                pp.sectorTeachersCert = function (surveyYear, sectorCode, gender) {
                    return this.sectorTable(surveyYear, sectorCode, gender, "cert");
                };
                pp.sectorTeachersCertP = function (surveyYear, sectorCode, gender) {
                    return this.sectorTable(surveyYear, sectorCode, gender, "certPerc");
                };

                pp.sectorPTR = function (surveyYear, sectorCode) {
                    return this.sectorTable(surveyYear, sectorCode, "", "PTR");
                };
                pp.sectorEnrol = function (surveyYear, sectorCode) {
                    return this.sectorTable(surveyYear, sectorCode, "", "Enrol");
                };
                //
                // Survival Rates
                //
                pp.yoeSurvivalTable = function (year, yearOfEd, gender, dataPoint) {
                    var xpath = 'Survivals > Survival[year="{0}"][yearOfEd="{1}"] > {3}{2}';

                    return this.itemTableBase(xpath, year, yearOfEd, gender, dataPoint);
                }
                pp.yoePromotionFrom = function (referenceYear, yearOfEd, gender) {
                    return this.yoeSurvivalTable(referenceYear, yearOfEd, gender, "PR")
                };
                pp.yoeRepititionRate = function (referenceYear, yearOfEd, gender) {
                    return this.yoeSurvivalTable(referenceYear, yearOfEd, gender, "RR")
                };
                pp.yoeTransitionFrom = function (referenceYear, yearOfEd, gender) {
                    return this.yoeSurvivalTable(referenceYear, yearOfEd, gender, "TR")
                };
                pp.yoeSurvivalTo = function (referenceYear, toYearOfEd, gender, fromYearOfEd) {
                    if (!fromYearOfEd)
                        fromYearOfEd = 1;

                    switch (gender) {
                        case 'I':
                        case 'GPI':
                        case 'F/M':
                            var f = this.yoeSurvivalTo(referenceYear, toYearOfEd, 'F', fromYearOfEd);
                            var m = this.yoeSurvivalTo(referenceYear, toYearOfEd, 'M', fromYearOfEd);
                            return f / m;


                        case 'M':
                        case 'F':
                        case '':
                            if (fromYearOfEd == 1)
                                return this.yoeSurvivalTable(referenceYear, toYearOfEd, gender, "SR");
                            else
                                return this.yoeSurvivalTable(referenceYear, toYearOfEd, gender, "SR") /
                                            this.yoeSurvivalTable(referenceYear, fromYearOfEd, gender, "SR");
                    }
                }

                // construction details
                pp.vermTable = function (item) {
                    return this.xml.attr(item);
                }
                pp.getSourceServer = function () {
                    return this.vermTable("server");
                }
                pp.getSourceDB = function () {
                    return this.vermTable("database");
                }

                pp.getCreateDate = function () {
                    return this.vermTable("createdate");
                }

                // system details
                pp.paramTable = function (item) {
                    return this.xml.find("params").attr(item);
                }
                pp.getNation = function () {
                    return this.paramTable("nation");
                }
                pp.getAppName = function () {
                    return this.paramTable("appname");
                }
                pp.getAppNameFull = function () {
                    return this.paramTable("appnamefull");
                }

                pp.getNode = function (xpath) {
                    return this.xml.find(xpath);
                };
                pp.getEdLevelNode = function (surveyYear, edLevelCode) {
                    var xpath = format('ERs > ER[year="{0}"][edLevelCode="{1}"]', surveyYear, edLevelCode);
                    return this.getNode(xpath);
                };
                pp.getSectorTeacherNode = function (surveyYear, sectorCode) {
                    var xpath = format('TeacherQCs > TeacherQC[year="{0}"][sectorCode="{1}"]', surveyYear, sectorCode);
                    return this.getNode(xpath);
                };

                pp.getYoENode = function (surveyYear, yoe) {
                    var xpath = format('LevelERs > LevelER[year="{0}"][yearOfEd="{1}"]', surveyYear, yoe);
                    return this.getNode(xpath);
                };

                pp.getMFT = function (node, dataPoint) {
                    var t = parseFloat(node.find(dataPoint).text());
                    var m = parseFloat(node.find(dataPoint + 'M').text());
                    var f = parseFloat(node.find(dataPoint + 'F').text());

                    return { T: t, M: m, F: f, P: f / t, I: f / m };
                }

                pp.getEdLevelYearSeries = function (startYear, endYear, edLevelCode, dataPoint) {
                    var ret = {};
                    var data = {};

                    var self = this;
                    dataPoint.forEach(function (dp) {
                        data[dp] = { M: [], F: [], T: [] };
                    });
                    for (var i = startYear; i <= endYear; i++) {

                        var edLevelNode = this.getEdLevelNode(i, edLevelCode);
                        if (edLevelNode) {
                            dataPoint.forEach(function (dp) {
                                var MFT = self.getMFT(edLevelNode, dp);

                                data[dp].M.push({ yr: i, v: MFT.M });
                                data[dp].F.push({ yr: i, v: MFT.F });
                                data[dp].T.push({ yr: i, v: MFT.T });
                            });
                        }
                    }
                    var ret = {};
                    dataPoint.forEach(function (dp) {
                        var d = [{ key: 'M', values: data[dp].M },
                                  { key: 'F', values: data[dp].F },
                                  { key: 'all', values: data[dp].T }
                        ];
                        ret[dp] = d;
                    });
                    return ret;
                }
                return pp;
            };
            Pineapple.prototype = makepp();

            // factry to return Pineapple
            function PineappleFactory($http) {
                return $http.get('vermdata.xml')
                        .then(function (response) {
                            // .then returns a promise - the data of that promise is the return valu of the
                            // success function of the .then
                            // so now the PineappleFactory retuirns a promise which on success will deliver a Pineapple
                            return new Pineapple(response.data);
                        });



            }
            angular
                .module('pineapples')
                .factory('Pineapple', ['$http', PineappleFactory]);

        })();
        //
        // facade for at-a-glance
        //

        function AtAGlance(year, edLevel, p) {
            var edLevelNode = p.getEdLevelNode(year, edLevel);

            this.Population = p.getMFT(edLevelNode, 'pop');
            this.Enrolment = p.getMFT(edLevelNode, 'enrol');
            this.NetEnrolment = p.getMFT(edLevelNode, 'nenrol');
            this.Repeaters = p.getMFT(edLevelNode, 'rep');

            this.GER = p.getMFT(edLevelNode, 'ger');
            this.NER = p.getMFT(edLevelNode, 'ner');

            this.YearsOfSchooling = p.edLevelNumYears(year, edLevel);
            this.OfficialStartAge = p.edLevelStartAge(year, edLevel);

            var teacherNode = p.getSectorTeacherNode(year, 'PRI');
            this.Teachers = p.getMFT(teacherNode, "teachers");
            this.TeachersCert = p.getMFT(teacherNode, "cert");
            this.TeachersCertP = p.getMFT(teacherNode, "certperc");

            this.PTR = p.sectorPTR(year, 'PRI');

            // get last year's ed lvel node
            edLevelNode = p.getEdLevelNode(year - 1, edLevel);
            var LYE = p.getMFT(edLevelNode, 'enrol')       // last year's enrol
            this.RepRate = {
                T: this.Repeaters.T / LYE.T,
                M: this.Repeaters.M / LYE.M,
                F: this.Repeaters.F / LYE.F,
                I: (this.Repeaters.F / LYE.F) / (this.Repeaters.M / LYE.M),
                P: (this.Repeaters.F / LYE.F) / (this.Repeaters.T / LYE.T)
            };

            this.Survival4 = {
                T: p.yoeSurvivalTo(year - 1, 4, ''),
                M: p.yoeSurvivalTo(year - 1, 4, 'M'),
                F: p.yoeSurvivalTo(year - 1, 4, 'F'),

            };
            this.Survival4.I = this.Survival4.F / this.Survival4.M;
            this.Survival4.P = this.Survival4.F / this.Survival4.T;

            this.Survival6 = {
                T: p.yoeSurvivalTo(year - 1, 6, ''),
                M: p.yoeSurvivalTo(year - 1, 6, 'M'),
                F: p.yoeSurvivalTo(year - 1, 6, 'F'),

            };
            this.Survival6.I = this.Survival6.F / this.Survival6.M;
            this.Survival6.P = this.Survival6.F / this.Survival6.T;

            // gir into last year
            var lyoe = p.edLevelLastYoE(year, edLevel);
            var yoeNode = p.getYoENode(year, lyoe)

            this.GIRLast = p.getMFT(yoeNode, 'gir');


        };


        (function () {
            function AtAGlanceMgr(pfactory) {
                return pfactory.then(function (pineapple) {
                    var mgr = {
                        cache: {},
                        p: pineapple,
                        get: function (surveyYear, edLevelCode) {
                            var cache = this.cache;
                            if (!cache[surveyYear])
                                cache[surveyYear] = {};
                            var y = cache[surveyYear];
                            if (!y[edLevelCode])
                                y[edLevelCode] = new AtAGlance(surveyYear, edLevelCode, this.p);
                            return y[edLevelCode];
                        },
                        title: function () { return this.p.getAppNameFull() },
                        source: function () { return this.p.getSourceServer() + ':' + this.p.getSourceDB() + ' snapshot created ' + this.p.getCreateDate() }
                    }
                    return mgr;
                });
            };

            angular
                .module('pineapples')
                .factory('AtAGlanceMgr', ['Pineapple', AtAGlanceMgr]);
        })();

        (function () {
            function GERNERSeries(surveyYear, edLevel, p) {

                return p.getEdLevelYearSeries(surveyYear - 4, surveyYear, edLevel, ['ger', 'ner', 'enrol', 'pop']);

            };
            function ERMgr(pfactory) {
                return pfactory.then(function (pineapple) {
                    var mgr = {
                        cache: {},
                        p: pineapple,
                        get: function (surveyYear, edLevelCode) {
                            var cache = this.cache;
                            if (!cache[surveyYear])
                                cache[surveyYear] = {};
                            var y = cache[surveyYear];
                            if (!y[edLevelCode])
                                y[edLevelCode] = new GERNERSeries(surveyYear, edLevelCode, this.p);
                            return y[edLevelCode];
                        },
                        title: function () { return this.p.getAppNameFull() },
                        source: function () { return this.p.getSourceServer() + ':' + this.p.getSourceDB() + ' snapshot created ' + this.p.getCreateDate() }
                    }
                    return mgr;
                });
            };

            angular
                .module('pineapples')
                .factory('ERMgr', ['Pineapple', ERMgr]);
        })();
        (function () {
            function RCSeries(surveyYear, edLevelCode, p) {
                var d = { yr: [], yn: [] };
                var startYoE = p.edLevelFirstYoE(surveyYear, edLevelCode);
                var endYoE = p.edLevelLastYoE(surveyYear, edLevelCode);
                for (var i = startYoE; i <= endYoE; i++)
                {
                    d.yr.push( { e: p.yoeEnrol(surveyYear - 1, i), 
                                 r: p.yoeRep(surveyYear - 1, i)
                    });

                    d.yn.push({ e: p.yoeEnrol(surveyYear, i), 
                        r: p.yoeRep(surveyYear, i)
                    });
                };
                return d;

            }
            function RCMgr(pfactory) {
                return pfactory.then(function (pineapple) {
                    var mgr = {
                        cache: {},
                        p: pineapple,
                        get: function (surveyYear, edLevelCode) {
                            var cache = this.cache;
                            if (!cache[surveyYear])
                                cache[surveyYear] = {};
                            var y = cache[surveyYear];
                            if (!y[edLevelCode])
                                y[edLevelCode] = new RCSeries(surveyYear, edLevelCode, this.p);
                            return y[edLevelCode];
                        },
                        title: function () { return this.p.getAppNameFull() },
                        source: function () { return this.p.getSourceServer() + ':' + this.p.getSourceDB() + ' snapshot created ' + this.p.getCreateDate() }
                    }
                    return mgr;
                });

            };
            //internal controller for reconstrcuted cohort directive
            function cohortDiagramCtrlr() {
                var c = {};
                c.xbase = 100;
                c.maxside = 100;
                c.ybase = 50;
                c.square = true;
                c.xlen = function (val) {
                    if (c.square) 
                        return Math.sqrt(val / c.maxside) * c.xbase;
                    else
                        return (val / c.maxside) * c.xbase;
                };
                c.ylen = function (val) {
                    if (c.square)
                        return c.xlen(val);
                    else
                        return c.ybase;
                };

                return c;
            };        
        // reconstructed cohort driective
        //

        function cohortDiagram($templateCache) {

                return {
                    getTemplate: function (tpl) {
                        return $templateCache.get(tpl)
                    },
                    restrict: 'E',
                    replace: true,
                    template: $templateCache.get('cohortdiagramtemplate.html'),
                    controller: cohortDiagramCtrlr,
                    controllerAs: '_rc',
                    
                    link: function (scope, elem, attrs) {
                        // the conoller is injected into scope as property <<controllerAs
                        // so reference it like that here
                        attrs.$observe('rel', function(newValue) {
                            var _rc = scope._rc;
                            _rc.xbase = parseInt(attrs.xlen || 100);
                            _rc.xgap = parseInt(attrs.xgap || 100);
                            _rc.ybase = parseInt(attrs.ylen || 100);
                            _rc.square = parseInt(attrs.ylen ? false : true);
                            _rc.maxside = newValue|| 100;
                            elem.bind('mouseover', function () {
                                elem.css('cursor', 'pointer');
                            });
                        });
                    }
                };
            };
            angular
                .module('pineapples')
                .factory('RCMgr', ['Pineapple', RCMgr])
                .directive('cohortDiagram', ['$templateCache', cohortDiagram]);
        })();
        (function () {
            function Ctrlr($scope, AtAGlanceMgr) {

                var self = this;
                this.selectedEdLevel = 'PRI';
                this.selectedSchoolType = 'P';
                this.selectedSector = 'PRI';

                this.ataGlanceMgr = {};
                this.title = '';
                this.source = '';

                this.selectedYearData = {};
                this.baseYearData = {};

                // use defineProperty in order to implement setters and getter
                // on changing the year, we need to refresh the data
                // alternative is a $scope.$watch
                // this approach is more like 'WPF' data binding
                var selYear;
                var bYear;
                Object.defineProperty(this, 'selectedYear', {
                    get: function () { return selYear; },
                    set: function (newValue) {
                        selYear = newValue;
                        this.selectedYearData = this.ataGlanceMgr.get(this.selectedYear, this.selectedEdLevel);
                        if (this.selectedYear <= this.baseYear)
                            this.baseYear = this.selectedYear - 1;
                    }
                });
                Object.defineProperty(this, 'baseYear', {
                    get: function () { return bYear; },
                    set: function (newValue) {
                        bYear = newValue;
                        this.baseYearData = this.ataGlanceMgr.get(this.baseYear, this.selectedEdLevel);
                        if (this.selectedYear <= this.baseYear)
                            this.selectedYear = parseInt(this.baseYear) + 1;
                    }
                });

                // AtAGlanceMgr service returns a promise, pending the load of the xml data
                // the deliverable of this promise is a manager object
                // on delivery, we can calculate everything
                AtAGlanceMgr.then(function (mgr) {
                    self.ataGlanceMgr = mgr;

                    self.title = mgr.title();
                    self.source = mgr.source();

                    self.selectedYear = 2013;
                    self.baseYear = 2012;

                });
            };
            angular
                .module('pineapples')
                .controller('Ctrlr', ['$scope', 'AtAGlanceMgr', Ctrlr]);
        })();


        (function () {
            function ERCtrlr($scope, ERMgr) {

                var self = this;
                this.selectedEdLevel = 'PRI';
                this.selectedSchoolType = 'P';
                this.selectedSector = 'PRI';

                this.mgr = {};
                this.title = '';
                this.source = '';

                this.selectedYearData = {};
                this.baseYearData = {};

                this.chtx = function (d) {
                    return d.yr;
                }

                this.chty = function (d) {
                    return d.v;
                }
                // use defineProperty in order to implement setters and getter
                // on changing the year, we need to refresh the data
                // alternative is a $scope.$watch
                // this approach is more like 'WPF' data binding
                var selYear;
                var bYear;
                Object.defineProperty(this, 'selectedYear', {
                    get: function () { return selYear; },
                    set: function (newValue) {
                        selYear = newValue;
                        this.selectedYearData = this.mgr.get(this.selectedYear, this.selectedEdLevel);
                        if (this.selectedYear <= this.baseYear)
                            this.baseYear = this.selectedYear - 1;
                    }
                });
                Object.defineProperty(this, 'baseYear', {
                    get: function () { return bYear; },
                    set: function (newValue) {
                        bYear = newValue;
                        this.baseYearData = this.mgr.get(this.baseYear, this.selectedEdLevel);
                        if (this.selectedYear <= this.baseYear)
                            this.selectedYear = parseInt(this.baseYear) + 1;
                    }
                });

                // ERMgr service returns a promise, pending the load of the xml data
                // the deliverable of this promise is a manager object
                // on delivery, we can calculate everything
                ERMgr.then(function (mgr) {
                    self.mgr = mgr;

                    self.title = mgr.title();
                    self.source = mgr.source();

                    self.selectedYear = 2013;
                    self.baseYear = 2012;

                });
            };
            angular
                .module('pineapples')
                .controller('ERCtrlr', ['$scope', 'ERMgr', ERCtrlr]);
        })();
        (function () {
            function RCCtrlr($scope, RCMgr) {
                var self = this;
                this.mgr = {};
                this.data = {};
                this.selectedYear = 2013;
                this.PR = function (level) {
                    if (self.data.yn.length - 1<= level)
                        return null;
                    return (self.data.yn[level + 1].e - self.data.yn[level + 1].r) / self.data.yr[level].e;
                    
                };
                this.RR = function (level) {

                    return self.data.yn[level].r / self.data.yr[level].e;
                };

                this.DR = function (level) {
                    if (self.data.yn.length - 1<= level)
                        return null;
                    return 1 - (self.PR(level) + self.RR(level));
                };

                this.TR = function (level) {
                    if (self.data.yn.length -1  <= level)
                        return null;
                    return self.PR(level) / (1 - self.RR(level));
                };
                this.SR = function (level) {
                    if (self.data.yn.length - 1 <= level)
                        return null;
                    var r = 1;
                    for (var i = 0; i <= level; i++)
                        r = r * self.TR(i);
                    return r;
                };

                RCMgr.then(function (mgr) {
                    self.mgr = mgr;
                    self.data = mgr.get(2013, 'PRI');
                });
            };
            angular
                .module('pineapples')
                .controller('RCCtrlr', ['$scope', 'RCMgr', RCCtrlr]);
        })();

        angular
            .module('pineapples')
            .filter('percentage', function ($window) {
                return function (input, decimals, suffix) {
                    decimals = angular.isNumber(decimals) ? decimals : 3;
                    suffix = suffix || '%';
                    if ($window.isNaN(input)) {
                        return '';
                    }
                    return Math.round(input * Math.pow(10, decimals + 2)) / Math.pow(10, decimals) + suffix
                };
            })
            .filter('percif', function ($window, $filter) {
                return function (input, conditional, decimals, suffix) {
                    decimals = angular.isNumber(decimals) ? decimals : 3;
                    suffix = suffix || '%';
                    if ($window.isNaN(input)) {
                        return '';
                    }
                    if (conditional)
                        return Math.round(input * Math.pow(10, decimals + 2)) / Math.pow(10, decimals) + suffix;
                    else
                        return $filter('number')(input, decimals);
                };
            });

    </script>
</body>
</html>

