﻿<div fitcontent style="overflow-x: scroll;" class="datadiv">

  <ol class="breadcrumb">
    <li><i class="fa fa-location-arrow"></i></li>
    <li>{{vm.theFilter.entity|capitalize:first}}</li>
    <li>Table</li>
  </ol>

  <div layout="row" layout-margin class="layout-margin-hack">

    <div flex="75">
      <panel panel-class="panel-primary table"
             panel-icon="fa fa-table"
             heading="Tables Data Analysis"
             panel-collapse="true">

        <table class="table table-bordered table-striped table-hover table-responsive">
          <thead>
            <tr>
              <th class="colhdr white-bg no-left-border no-top-border" />
              <th class="colhdr white-bg no-left-border no-top-border" />
              <th class="text-center colhdr" colspan="{{vm.xtabcolumns.length}}">{{vm.tableparams.col | vocab}}</th>
            </tr>
            <tr>
              <th class="colghdr text-left">{{vm.tableparams.row | vocab}}</th>
              <th class="colghdr text-right">Total</th>
              <th class="colghdr text-right" ng-repeat="col in vm.xtabcolumns">{{col.key}}</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="row in vm.xtabtotal">
              <td class="text-left">{{row.key}}</td>
              <td class="text-right">{{vm.v(row.values.Total)}}</td>
              <td class="text-right" ng-repeat="col in vm.xtabcolumns">{{vm.v(row.values[col.key])}}</td>
            </tr>
            <tr ng-repeat="row in vm.xtabdata">
              <td class="text-left">{{row.key}}</td>
              <td class="text-right">{{vm.v(row.values.Total)}}</td>
              <td class="text-right" ng-repeat="col in vm.xtabcolumns">{{vm.v(row.values[col.key])}}</td>
            </tr>
          </tbody>
        </table>
        <img src="assets/img/wait.gif" style="position:absolute; top:50%;left:50%; margin-right:-50%; transform:translate(-50%,-50%)" ng-show="vm.isWaiting" />

      </panel>
    </div>

    <div flex="25">
      <panel panel-class="panel-primary list query-data-side-panel"
             panel-icon="fa fa-filter"
             heading="Query Data"
             panel-collapse="true">

        @*<flash-find-search-component entity="listvm.theFilter"></flash-find-search-component>
          <school-searcher-component searchfields="listvm.theFilter"></school-searcher-component>
          <manipulate-chart-component searchfields="listvm.theFilter"></manipulate-chart-component>*@

        @*Deactivate broken flashfindsearch for now (was broken before I moved it here)
          <div id="flashfindsearch" ui-view="flashfindsearch"></div>*@
        <div id="searcher" ui-view="searcher"></div>
        <div id="manipulatetable" ui-view="manipulatetable"></div>
      </panel>
    </div>

  </div>

</div>