﻿<div class="rTable principalscomments table table-condensed table-striped table-hover">
  <div class="rTableRow">
    <div class="rTableHead rTableHeadTitle colhdr">Report Title</div>
    <div class="rTableHead rTableHeadDescription colhdr">Report Description</div>
    <div class="rTableHead rTableHeadReports colhdr"><i class="fa fa-download" /> Report</div>
  </div>
  <div class="rTableRow rTableRowData" ng-repeat="r in vm.reports">
    <report-def-row report="r" context="vm.reportContext" set-params="vm.setParams(report, context, instanceInfo)"></report-def-row>
  </div>
</div>