﻿
<div style="padding:5px">
  <div class="row" style="padding:5px">
    <h3>{{vm.teacher.tPayroll}} {{vm.teacher.tFullName}}</h3>
    <img ng-src="library/{{vm.teacher.tPhoto}}?format=jpg&height=200&width=200&mode=max" />
  </div>
  <div class="row">
    <div class="col-md-3">
    

      <div ng-show="vm.uploader.isHTML5">

        <!-- Example: nv-file-drop="" uploader="{Object}" options="{Object}" filters="{String}" -->
        <div nv-file-drop="" uploader="vm.uploader">
          <div nv-file-over="" uploader="vm.uploader" over-class="another-file-over-class" class="well my-drop-zone">
            Drop file here to load...
          </div>
        </div>
      </div>

      <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
      <label for="inputFile"> Select file...</label>
      <input type="file" name="inputFile" id="inputFile" nv-file-select="" uploader="vm.uploader" multiple /><br />


      <lookup-selector name="lnkFunction" lkp="teacherLinkTypes" ng-model="vm.model.lnkFunction" />
      <input type="text" ng-model="vm.model.docDescription" />
      <input type="text" ng-model="vm.model.docSource" />
      <input type="text" ng-model="vm.model.docTags" />
      Is current <input type="number" ng-model="vm.model.isCurrentPhoto" ng-disabled="!(vm.model.lnkFunction === 'PORTRAIT')" />
    </div>

    <div class="col-md-9" style="margin-bottom: 40px">
      <p>Files selected: {{ vm.uploader.queue.length }}</p>

      <table class="table">
        <thead>
          <tr>
            <th width="50%">Name</th>
            <th ng-show="vm.uploader.isHTML5">Size</th>
            <th ng-show="vm.uploader.isHTML5">Progress</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in vm.uploader.queue">
            <td>
              <strong>{{ item.file.name }}</strong>
              <!-- Image preview -->
              <!--auto height-->
              <!--<div ng-show="vm.uploader.isHTML5" ng-thumb="{ file: item.file, width: 100 }"></div>-->
              <!--auto width-->
              <div ng-show="vm.uploader.isHTML5" ng-thumb="item._file" height="100"></div>
              <!--fixed width and height -->
              <!--<div ng-show="vm.uploader.isHTML5" ng-thumb="{ file: item._file, width: 100, height: 100 }"></div>-->
            </td>
            <td ng-show="vm.uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
            <td ng-show="vm.uploader.isHTML5">
              <div class="progress" style="margin-bottom: 0;">
                <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
              </div>
            </td>
            <td class="text-center">
              <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
              <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
              <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
            </td>
            <td nowrap>
              <md-button class="md-raised md-primary" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess" type="button">
                <span class="glyphicon glyphicon-upload"></span> Upload
              </md-button>
              <md-button class="md-raised" ng-click="item.cancel()" ng-disabled="!item.isUploading" type="button">
                <span class="glyphicon glyphicon-ban-circle"></span> Cancel
              </md-button>
              <md-button class="md-raised md-warn" ng-click="item.remove()" type="button">
                <span class="glyphicon glyphicon-trash"></span> Remove
              </md-button>
            </td>
          </tr>
        </tbody>
      </table>

      <div>
        <div>
          Queue progress:
          <div class="progress" style="">
            <div class="progress-bar" role="progressbar" ng-style="{ 'width': vm.uploader.progress + '%' }"></div>
          </div>
        </div>
        <md-button class="md-raised md-primary" ng-click="vm.uploader.uploadAll()" ng-disabled="(vm.uploader.getNotUploadedItems().length === 0)" type="button">
          <span class="glyphicon glyphicon-upload"></span> Upload all
        </md-button>
        <md-button class="md-raised" ng-click="vm.uploader.cancelAll()" ng-disabled="!vm.uploader.isUploading" type="button">
          <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
        </md-button>
        <md-button class="md-raised md-warn" ng-click="vm.uploader.clearQueue()" ng-disabled="!vm.uploader.queue.length" type="button">
          <span class="glyphicon glyphicon-trash"></span> Remove all
        </md-button>
      </div>

    </div>

  </div>

</div>

