﻿<div>

  <ol class="breadcrumb">
    <li><i class="fa fa-location-arrow"></i></li>
    <li>Exams</li>
    <li>Upload</li>
  </ol>

  <div layout="row" layout-margin class="layout-margin-hack">
    <panel panel-class="panel-primary" flex="100"
           heading="{{vm.folder}} Reports"
           panel-icon="fa fa-file-text"
           panel-collapse="true">
      <div flex="25">

        <div ng-show="vm.uploader.isHTML5">
          <!-- Example: nv-file-drop="" uploader="{Object}" options="{Object}" filters="{String}" -->
          <div nv-file-drop="" uploader="vm.uploader">
            <div nv-file-over="" uploader="vm.uploader" over-class="another-file-over-class" class="well my-drop-zone">
              Drop Exam summary file here...
            </div>
          </div>
        </div>

        <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
        <label for="inputFile"> ... or click to select file...</label>
        <input type="file" name="inputFile" id="inputFile" nv-file-select="" uploader="vm.uploader" ng-show="false" /><br />

      </div>

      <div flex="75" style="margin-bottom: 40px">

        <table class="table">
          <thead>
            <tr>
              <th width="50%">Name</th>
              <th ng-show="vm.uploader.isHTML5">Size</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in vm.uploader.queue">
              <td>
                <strong>{{ item.file.name }}</strong>
              </td>
              <td ng-show="vm.uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
              <td class="text-center">
                <span ng-show="item.isSuccess"><i class="fa fa-check"></i></span>
                <span ng-show="item.isCancel"><i class="fa fa-ban"></i></span>
                <span ng-show="item.isError"><i class="fa fa-exclamation"></i></span>
              </td>
            </tr>
          </tbody>
        </table>

        <div>
          <div>
            <div class="progress" style="">
              <div class="progress-bar" role="progressbar" ng-style="{ 'width': vm.uploader.progress + '%' }"></div>
            </div>
          </div>
          <button type="button" class="btn btn-success btn-s" ng-click="vm.uploader.uploadAll()" ng-disabled="(vm.uploader.getNotUploadedItems().length === 0)">
            <span class="fa fa-upload"></span> Upload
          </button>
          <button type="button" class="btn btn-warning btn-s" ng-click="vm.uploader.cancelAll()" ng-disabled="!vm.uploader.isUploading">
            <span class="fa fa-ban"></span> Cancel
          </button>
          <button type="button" class="btn btn-danger btn-s" ng-click="vm.uploader.clearQueue()" ng-disabled="!vm.uploader.queue.length">
            <span class="fa fa-minus"></span> Clear
          </button>
        </div>

      </div>

      <div flex="100">
        <div ng-show="vm.uploadResponseData">
          <div>Exam Name: {{vm.uploadResponseData.examName}}</div>
          <div>Year: {{vm.uploadResponseData.examYear}}</div>

          <div>No of students:{{vm.uploadResponseData.students}}</div>
          <div>No of results:{{vm.uploadResponseData.results}}</div>
          <div>File Id:{{vm.uploadResponseData.id}}</div>
        </div>
        <div ng-show="vm.progressData">
          <div>Schools: {{vm.progressData.schools}}</div>
          <div>Students: {{vm.progressData.students}}</div>
          <div>Staff: {{vm.progressData.staff}}</div>
          <div>Wash: {{vm.progressData.wash}}</div>
        </div>
        <div ng-show="vm.processResponseData.hasValidations">
          <div>Validation issues were found in the examination data. Correct these problems, then upload the Exam summary again.</div>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Row Index</th>
                <th>Value</th>
                <th>Issue</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="v in vm.processResponseData.validations">
                <td>{{v.rowID}}</td>
                <td>{{v.errorValue}}</td>
                <td>{{v.errorMessage}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <pupil-table-grid pupil-table="vm.summary"></pupil-table-grid>
        <div ng-show="vm.summary">
          <table class="table">
            <thead>
              <tr>
                <th>School No</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="p in vm.summary">
                <td>{{p.key}}</td>
                <td ng-repeat="g in p.values">{{g.key}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </panel>
  </div>  

</div>

