﻿@*
  Confirmation to proess upload of Ndoe data
    uses MaterialLayoutDialog
*@

@section icon {
  <i class="fa fa-book"></i>
}

@section title {
  Exam Uploaded
}

@section tools {
}

@* body *@
<div class="container-fluid">
  <div class="row"><div class="xs-col-9">Exam Name:</div><div class="xs-col-3">{{dvm.info.examName}}</div></div>
  <div class="row"><div class="xs-col-9">Year:</div><div class="xs-col-3">{{dvm.info.examYear}}</div></div>
  <div class="row"><div class="xs-col-9">Students:</div><div class="xs-col-3">{{dvm.info.students}}</div></div>
  <div class="row"><div class="xs-col-9">Results:</div><div class="xs-col-3">{{dvm.info.results}}</div></div>
  <div class="row"><div class="xs-col-9">File ID:</div><div class="xs-col-3">{{dvm.info.id}}</div></div>

  @* show the details of any previously loaded version of this exam *@
  <div ng-show="dvm.info.exam">
    <div> Results for this exam have already been loaded:</div>
    <div class="row"><div class="xs-col-9">Exam Code:</div><div class="xs-col-3">{{dvm.info.exam.exCode}}</div></div>
    <div class="row"><div class="xs-col-9">Year:</div><div class="xs-col-3">{{dvm.info.exam.exYear}}</div></div>
    <div class="row"><div class="xs-col-9">Students:</div><div class="xs-col-3">{{dvm.info.exam.exCandidates}}</div></div>
    <div class="row"><div class="xs-col-9">Results:</div><div class="xs-col-3">{{dvm.info.exam.exMarks}}</div></div>
    <div class="row"><div class="xs-col-9">File ID:</div><div class="xs-col-3">{{dvm.info.exam.docid}}</div></div>
  </div>
</div>
@section actions {
  <md-button ng-click="dvm.returnSuccess()" class="md-primary">
    <span ng-show="!dvm.info.exam">Process this file</span>
    <span ng-show="dvm.info.exam">Reprocess this exam</span>
  </md-button>
  <md-button ng-click="dvm.returnFail()" class="md-primary">
    Cancel - discard this data
  </md-button>
}
