﻿<div>

  <style>
    .pa-competency {
      color: red;
    }

    .pa-element {
      color: blue;
    }

    .pa-indicator {
      color: dimgrey;
      padding-bottom: 2px;
    }

    .pa-summary-table td {
      padding: 2px;
    }

    @@media (min-width: 992px ) {
      .md-truncate {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .truncate {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .panel.collapsed .panel-open {
      display: none;
    }

    .panel.collapsed .panel-closed {
      display: block;
    }

    .panel .panel-closed {
      display: none;
    }

    .buttonset-btn {
      width: 40px;
    }

    @@media (min-width: 1200px) {
      .buttonset-btn {
        width: 50px;
      }
    }

    .buttonset-selected.active {
      background-color: darkred;
      color: white;
    }

    .pa-inline-chart {
      fill: #BEDBEB;
    }
    /* change these becuase the background is blue */
    .panel-controls a {
      color: black;
    }

      .panel-controls a:hover {
        color: white;
      }

      .panel-controls a:focus {
        color: white;
      }

    .panel-heading.grow {
      min-height: 40px;
      height: unset;
    }
    /* second level of nesting is grey*/
    .panel .panel .panel-heading {
      background-color: steelblue;
    }



    /* print styles*/
    /* razor escape required for at sign  aaargh */
    @@page {
      @@top-left {
        content: "Teacher Assessment";
      }

      @@top-right {
        content: "Page " counter(page);
      }
    }

    @@media print {
      /* first off, don;t need panel controls */
      .panel-controls {
        display: none;
      }

      .buttonset-selected {
        font-weight: bold;
        border: 1px solid black;
      }

      .panel .panel-heading {
        background-color: grey;
        color: black;
      }

      .panel .panel .panel-heading {
        background-color: transparent;
        border: 1px solid transparent;
        border-bottom-color: grey;
      }

      .panel {
        border-color: transparent;
        padding-left: 5px;
        padding-right: 0px;
      }

      .pa-indicator {
        font-style: italic;
      }
    }

    .breakbefore {
      page-break-before: always;
    }
  </style>

  <ol class="breadcrumb">
    <li><i class="fa fa-location-arrow"></i></li>
    <li>Performance Assessments</li>
    <li>Upload</li>
  </ol>

  <div layout="row" layout-margin class="layout-margin-hack">
    <panel panel-class="panel-primary" flex="100"
           heading="{{vm.folder}} Reports"
           panel-icon="fa fa-file-text"
           panel-collapse="true">

      <div ng-controller="perfAssessController as vm" class="container-fluid" ng-cloak>
        <div id="teacher" style="padding-bottom:10px">
          <div class="col-md-2 col-sm-3">Teacher: </div>
          <div class="col-md-4 col-sm-6" filter-editor
               url="api/selectors/teacher"
               placeholder="search for teacher by name or payroll number"
               on-changed="vm.teacherSelected"
               ng-model="vm.selectedTeacher"
               filter="vm.teacherFilter"
               mode="finder"></div>
          <div class="col-md-2 col-sm-3">
            <button class="btn btn-primary" ng-click="vm.newPerfAssess()" ng-disabled="!vm.hasTeacher">New Assessment</button>
          </div>
        </div>

        <!-- list of current teacher's assessments-->
        <div id="perfAssessList" class="clear">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Assessment No</th>
                <th>Type</th>
                <th>School No</th>
                <th>School Name</th>
                <th>Date</th>
                <th>Assessment</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="pa in vm.list">
                <td><a ng-click="vm.showPerfAssess(pa.paID)">{{pa.paID}}</a></td>
                <td>{{pa.pafrmCode}}</td>
                <td>{{pa.paSchNo}}</td>
                <td>{{pa.schName}}</td>
                <td>{{pa.paDate | date:d-MMM-yyyy}}</td>
                <td>{{pa.paScore |number:1}}</td>
              </tr>

            </tbody>
          </table>

        </div>
        <div id="newAssess">

          <!-- assessment header-->
          <div id="assessHdr" class="panel panel-primary" ng-show="vm.hasPa()">

            <div class="panel-heading">
              Assessment: {{vm.pa.Id}}
              <div class="panel-controls pull-right">
                <a href="" ng-click="vm.collapseAll('E', false)"><span class="fa fa-angle-double-down" uib-tooltip="open elements">&nbsp;</span></a>
                <a href="" ng-click="vm.collapseAll('E', true)"><span class="fa fa-angle-double-up" uib-tooltip="collapse elements">&nbsp;</span></a>
                <a href="" ng-click="vm.collapseAll('C', false)"><span class="fa fa-chevron-down" uib-tooltip="open competencies">&nbsp;</span></a>
                <a href="" ng-click="vm.collapseAll('C', true)"><span class="fa fa-chevron-up" uib-tooltip="collapse competencies">&nbsp;</span></a>
              </div>

            </div>
            <div class="panel-body">
              <div class="col-md-2 col-sm-4"><label>Assessment Type:</label></div>
              <div class="col-md-4 col-sm-8"><label>{{vm.pa.Framework | lookup:'paFrameworks'}}</label></div>
              <div class="clearfix" style="margin-top: 50px"></div>

              <div class="col-md-2 col-sm-4">School:</div>
              <div class="col-md-4 col-sm-8" filter-editor url="api/selectors/school" on-changed="vm.schoolSelected" ng-model="vm.selectedSchool" filter="vm.schoolFilter" mode="finder"></div>
              <div class="col-md-2">{{pa.SchoolNo}}</div>
              <div class="clearfix" style="margin-top: 50px"></div>
              <div class="col-md-2 col-sm-4"><label>Assessment Date:</label></div>
              <div class="col-md-4 col-sm-8">
                <input type="date" class="form-control" ng-model="vm.pa.Date" uib-datepicker-popup datepicker-options="dateOptions" close-text="Close" />

              </div>
              <div class="col-md-2 col-sm-4"><label>Conducted By:</label></div>
              <div class="col-md-4 col-sm-8">
                <input type="text" class="form-control" ng-model="vm.pa.ConductedBy" />
              </div>
              <div class="clearfix"></div>
              <div class="panel-footer">
                <div class="col-sm-2 col-xs-4">Aggregate Score:</div>
                <div class="col-xs-2">{{vm.getTotal(vm.pa.Framework) | number:1}}</div>
                <div class="col-xs-4">{{vm.indicatorsCompleted}} / {{vm.indicatorCount}} indicators completed</div>
                <div class="col-sm-2 col-sm-offset-2
                        col-xs-2 ">
                  <button class="btn btn-primary pull-right" ng-click="vm.savePerfAssess($event)">Save</button>

                </div>
              </div>
            </div>
          </div>
          <div id="assessScores" class="clearfix">
            <div class="clearfix"></div>

            <!-- competency panel -->
            <div class="pa-competency panel panel-primary breakbefore" ng-repeat="competency in vm.paNest" ng-class="{'collapsed': vm.isCollapsed(competency.key)}">
              <div class="panel-heading">
                <div class="col-sm-6 col-xs-10">{{competency.key}}: {{competency.key | lookup:"paCompetencies"}}</div>
                <div class="col-md-2 col-sm-4 hidden-xs">
                  <table class="pa-summary-table">
                    <tbody>
                      <tr>
                        <td width="30" ng-repeat="element in competency.values">{{vm.getTotal(element.key) | number:1}}</td>
                      </tr>
                    </tbody>
                  </table>

                </div>
                <div class="col-xs-1">{{vm.getTotal(competency.key) | number:1}}</div>
                <!-- chart -->
                <div class="panel-closed hidden-xs hidden-sm col-md-2  ">
                  <svg width="100" height="25">
                    <g class="pa-inline-chart" transform="scale(25,1)">
                      <rect x="0" y="5" height="20" width="{{vm.getTotal(competency.key)}}" />
                    </g>
                  </svg>
                </div>
                <div class="panel-controls pull-right">
                  <a href="" ng-click="vm.toggleCollapse(competency.key)">
                    <span class="fa "
                          ng-class="{'fa-chevron-down': vm.isCollapsed(competency.key), 'fa-chevron-up': !vm.isCollapsed(competency.key) }"></span>
                  </a>
                </div>

              </div>
              <div class="panel-body" uib-collapse="vm.isCollapsed(competency.key)">

                <!-- element panel -->
                <div class="pa-element panel" ng-repeat="element in competency.values" ng-class="{'collapsed': vm.isCollapsed(element.key)}">
                  <!--element header-->
                  <div class="panel-heading grow">

                    <div class="panel-closed">
                      <div class="col-md-6 md-truncate" uib-tooltip="{{element.key | lookup:'paElements'}}">
                        {{element.key | lookup:'paElements'}}
                      </div>
                      <div class="col-md-3 col-xs-10">
                        <table class="pa-summary-table">
                          <tbody>
                            <tr>
                              <td width="30" ng-repeat="indicator in element.values">{{indicator.PerformanceLevel}}</td>
                              <td></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>

                      <div class="col-md-2 col-xs-1"><bold>{{vm.getTotal(element.key) | number:1}}</bold></div>
                    </div>
                    <!-- we need not to truncate the text in xs view and sm view -->
                    <div class="panel-open">
                      <div class="col-md-9 md-truncate" uib-tooltip="{{element.key | lookup:'paElements'}}">
                        {{vm.lkp.byCode("paElements", element.key, "N")}}
                      </div>
                      <div class="col-md-2 col-md-offset-0
                              col-xs-1 col-xs-offset-10">
                        <bold>{{vm.getTotal(element.key) | number:1}}</bold>
                      </div>
                    </div>
                    <div class="panel-controls pull-right">
                      <a href="" ng-click="vm.toggleCollapse(element.key)">
                        <span class="fa "
                              ng-class="{'fa-chevron-down': vm.isCollapsed(element.key), 'fa-chevron-up': !vm.isCollapsed(element.key) }">
                        </span>
                      </a>
                    </div>
                  </div>

                  <!-- element panel body-->
                  <div class="panel-body" uib-collapse="vm.isCollapsed(element.key)">
                    <!-- indicator repeat-->
                    <div class="clearfix " ng-repeat="indicator in element.values">
                      <div class="col-md-6 col-sm-12 pa-indicator">{{vm.lkp.byCode("paIndicators", indicator.IndicatorCode, "N")}}</div>

                      <!-- indicator button set -->
                      <div class="col-md-3 col-sm-6">
                        <div sw-button-set btn-names="vm.indicatorLevels[indicator.IndicatorId].codes"
                             btn-values="vm.indicatorLevels[indicator.IndicatorId].codes"
                             btn-tooltips="vm.indicatorLevels[indicator.IndicatorId].tooltips"
                             ng-model="indicator.PerformanceLevel"
                             btn-selected-class="btn-primary buttonset-btn buttonset-selected " btn-base-class="btn-primary buttonset-btn"
                             class="multichoice"></div>
                      </div>
                      <div class="col-md-2 col-sm-6 hidden-xs">
                        <svg width="200" height="25">
                          <g class="pa-inline-chart" transform="scale(50,1)">
                            <rect x="0" y="1" height="20" width="{{indicator.PerformanceLevel}}" />
                          </g>
                        </svg>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <img src="assets/img/wait.gif" style="position:absolute; top:50%;left:50%; margin-right:-50%; transform:translate(-50%,-50%)" ng-show="vm.isWaiting" />

            </div>
          </div>
          <div id="assessHdr" class="panel panel-primary" ng-show="vm.hasPa()">

            <div class="panel-heading">
              Assessment: {{vm.pa.Id}}
              <div class="panel-controls pull-right">
                <a href="" ng-click="vm.collapseAll('E', false)"><span class="fa fa-angle-double-down" uib-tooltip="open elements">&nbsp;</span></a>
                <a href="" ng-click="vm.collapseAll('E', true)"><span class="fa fa-angle-double-up" uib-tooltip="collapse elements">&nbsp;</span></a>
                <a href="" ng-click="vm.collapseAll('C', false)"><span class="fa fa-chevron-down" uib-tooltip="open competencies">&nbsp;</span></a>
                <a href="" ng-click="vm.collapseAll('C', true)"><span class="fa fa-chevron-up" uib-tooltip="collapse competencies">&nbsp;</span></a>
              </div>

            </div>

            <div class="panel-footer">
              <div class="col-sm-2 col-xs-4">Aggregate Score:</div>
              <div class="col-xs-2">{{vm.getTotal(vm.pa.Framework) | number:1}}</div>
              <div class="col-xs-4">{{vm.indicatorsCompleted}} / {{vm.indicatorCount}} indicators completed</div>
              <div class="col-sm-2 col-sm-offset-2
                        col-xs-2 ">
                <button class="btn btn-primary pull-right" ng-click="vm.savePerfAssess($event)">Save</button>

              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
