﻿@* fedemis context-specific extra tabs *@

<md-tab label="Surveys (Workbook)" ng-disable="!vm.model.Surveys.length">
  <component-school-survey-list surveys="vm.model.Surveys"></component-school-survey-list>
</md-tab>

<md-tab label="School Accreditations" ng-disable="!vm.model.SchoolAccreditations.length">
  <school-accreditations schoolaccreditations="vm.model.SchoolAccreditations"></school-accreditations>
</md-tab>
