﻿<div layout="column">
  <div style="padding: 10px;width: 300px">
    <md-select ng-model="vm.table">
      <md-option></md-option>
      <md-option ng-repeat="table in vm.tableList" ng-value="table" ng-disabled="$index === 1">
        {{table}}
      </md-option>
    </md-select>
  </div>
  <div ui-view="tablegrid" layout-fill></div>
</div>