﻿@{
    Layout = null;
}

<div class="container searcher">
    <form class="form-inline">
        <div class="col-md-2">
            <div class="form-group">
                <label for="baseYear">Year: </label>
                <select id="baseYear" class="form-control" ng-model="vm.params.BaseYear">
                    <option>2014</option>
                    <option>2013</option>
                    <option>2012</option>
                    <option>2011</option>
                </select>
            </div>

        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="xSeries">X:</label>
                <select id="xSeries" class="form-control" ng-model="vm.params.XSeries">
                    <option ng-repeat="ds in vm.theFilter.DataSets">{{ds.n}}</option>
                </select>
            </div>


            <div class="form-group">
                <label for="xOffset">Yrs ago:</label>
                <select id="xOffset" class="form-control" ng-model="vm.params.XSeriesOffset">
                    <option ng-repeat="i in [5,4,3,2,1,0,-1,-2,-3,-4,-5]">{{i}}</option>
                </select>
            </div>

        </div>

        <div class="col-md-3">
            <div class="form-group">
                <label for="ySeries">Y:</label>
                <select id="ySeries" class="form-control" ng-model="vm.params.YSeries">
                    <option ng-repeat="ds in vm.theFilter.DataSets">{{ds.n}}</option>
                </select>
            </div>


            <div class="form-group">
                <label for="yOffset">Yrs ago:</label>
                <select id="yOffset" class="form-control" ng-model="vm.params.YSeriesOffset">
                    <option ng-repeat="i in [5,4,3,2,1,0,-1,-2,-3,-4,-5]">{{i}}</option>
                </select>
            </div>
        </div>

        <div class="col-md-1">
            <button class="btn btn-default findNow" ng-click="vm.FindNow()">Show</button>
        </div>
        <div class="form-group col-md-1">
            <a tooltip-placement="right" tooltip="swap X/Y" ng-click="vm.theFilter.Swap()" class="nav navbar-nav toolbar cmd-icon dropdown" style="padding-top:4px; height:32px;width: 40px">
                <i class="fa fa-refresh"></i>
            </a>
        </div>
    </form>
</div>
