﻿@section title {
  GROSS ENROLMENT RATIO (GER)
}

@section icon {
  <i class="fa fa-info"></i>&nbsp;
}

@section tools {
}
@section actions {
  <md-button href="http://uis.unesco.org/sites/default/files/documents/education-indicators-technical-guidelines-en_0.pdf" target="_blank" md-autofocus>
    Cited Source: UNESCO Education Indicators Technical Guidelines
  </md-button>
}

<md-tabs md-dynamic-height md-border-bottom>
  <md-tab label="General">
    <md-content class="md-padding">
      <h2>Key Indicator</h2>
      <p>Gross Enrolment Ratio (GER)</p>
      <h2>Definition</h2>
      <p>
        Total enrolment in a specific level of education, regardless of age, expressed as a percentage of the
        eligible official school-age population corresponding to the same level of education in a given school year.
      </p>
      <h2>Purpose</h2>
      <p>
        To show the general level of participation in a given level of education. It indicates the capacity of the
        education system to enrol students of a particular age group. It can also be a complementary indicator to net
        enrolment rate (NER) by indicating the extent of over-aged and under-aged enrolment.
      </p>
    </md-content>
  </md-tab>
  <md-tab label="Calculation">
    <md-content class="md-padding">
      <h2>Calculation method</h2>
      <p>
        Divide the number of pupils (or students) enrolled in a given level of education regardless of
        age by the population of the age group which officially corresponds to the given level of education, and multiply the
        result by 100.
      </p>
    </md-content>
  </md-tab>
  <md-tab label="Data">
    <md-content class="md-padding">
      <h2>Data Required</h2>
      <p>
        Total enrolment for a given level of education. Population of the age group corresponding to the
        specified level.
      </p>
      <h2>Data Source</h2>
      <p>
        School register, school survey or census for data on enrolment
        by level of education. Population censuses or estimates for school-age
        population normally obtained from the central statistical office. In
        Marshall Island a bi-annually school census is used with some urban
        schools starting to adopt a Student Information System. The indicators
        are currently all calculated based on a consistent data collection
        tool (i.e. the school census). The population projection used was from
        Economic Policy, Planning and Statistics Office (EPPSO) census with
        the 10 year projection done by the Secretariat of the Pacific
        Community (SPC).
      </p>
      <h2>Type of Disaggregation</h2>
      <p>
        By gender, geographical location (region, urban/rural) and by
        level of education. The disaggregation supported are by gender, type
        of schools and by geographical location (i.e. Atolls and Islands of
        Marshall Islands) and levels of education.  However, currently only
        the gender, nation and levels of education cohorts are supported since
        population projection by Atolls and Islands is not yet available and
        the disgreggation by school type feature is not yet exposed.
      </p>
      <h2>Quality standards</h2>
      <p>
        GER at each level of education should be based on total
        enrolment in all types of schools and education institutions,
        including public, private and all other institutions that provide
        organized educational programmes.
      </p>
    </md-content>
  </md-tab>
  <md-tab label="Meaning">
    <md-content class="md-padding">
      <h2>Interpretation</h2>
      <p>
        A high GER generally indicates a high degree of participation, whether the pupils belong to the
        official age group or not. A GER value approaching or exceeding 100% indicates that a country is, in principle, able
        to accommodate all of its school-age population, but it does not indicate the proportion already enrolled. The
        achievement of a GER of 100% is therefore a necessary but not sufficient condition for enrolling all eligible children
        in school. When the GER exceeds 90% for a particular level of education, the aggregate number of places for pupils
        is approaching the number required for universal access of the official age group. However, this is a meaningful
        interpretation only if one can expect the under-aged and over-aged enrolments to decline in the future to free places
        for pupils from the expected age group.
      </p>
      <h2>Limitations</h2>
      <p>
        GER can exceed 100% due to the inclusion of over-aged and under-aged pupils/students because of
        early or late entrants, and grade repetition. In this case, a rigorous interpretation of GER needs additional information
        to assess the extent of repetition, late entrants, etc.
      </p>
    </md-content>
  </md-tab>
</md-tabs>
