﻿
<div style="padding:5px">

  <div class="row">
    <div class="col-md-3">


      <div ng-show="vm.uploader.isHTML5">

        <!-- Example: nv-file-drop="" uploader="{Object}" options="{Object}" filters="{String}" -->
        <div nv-file-drop uploader="vm.uploader">
          <div nv-file-over="" uploader="vm.uploader"  class="well my-drop-zone">
            Drop Kobo Survey Workbook here...
          </div>
        </div>
      </div>

      <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
      <label for="inputFile"> ... or click to select file...</label>
      <input type="file" name="inputFile" id="inputFile" nv-file-select="" uploader="vm.uploader" ng-show="false" /><br />

    </div>

    <div class="col-md-9" style="margin-bottom: 40px">

      <table class="table">
        <thead>
          <tr>
            <th width="50%">Name</th>
            <th ng-show="vm.uploader.isHTML5">Size</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in vm.uploader.queue">
            <td>
              <strong>{{ item.file.name }}</strong>
            </td>
            <td ng-show="vm.uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
            <td class="text-center">
              <span ng-show="item.isSuccess"><i class="fa fa-check"></i></span>
              <span ng-show="item.isCancel"><i class="fa fa-ban"></i></span>
              <span ng-show="item.isError"><i class="fa fa-exclamation"></i></span>
            </td>
          </tr>
        </tbody>
      </table>

      <div>
        <div>
          <div class="progress" style="">
            <div class="progress-bar" role="progressbar" ng-style="{ 'width': vm.uploader.progress + '%' }"></div>
          </div>
        </div>
        <button type="button" class="btn btn-success btn-s" ng-click="vm.uploader.uploadAll()" ng-disabled="(vm.uploader.getNotUploadedItems().length === 0)">
          <span class="fa fa-upload"></span> Upload
        </button>
        <button type="button" class="btn btn-warning btn-s" ng-click="vm.uploader.cancelAll()" ng-disabled="!vm.uploader.isUploading">
          <span class="fa fa-ban"></span> Cancel
        </button>
        <button type="button" class="btn btn-danger btn-s" ng-click="vm.uploader.clearQueue()" ng-disabled="!vm.uploader.queue.length">
          <span class="fa fa-minus"></span> Clear
        </button>
      </div>

    </div>

  </div>
  <div>
    <div ng-show="vm.uploadResponseData">
      <div>Survey Tool: {{vm.uploadResponseData.surveyTool}}</div>
      <div>Number of records: {{vm.uploadResponseData.listRows}}</div>
      <div>First Date:{{vm.uploadResponseData.firstDate}}</div>
      <div>Last Date:{{vm.uploadResponseData.lastDate}}</div>
      <div>File Id:{{vm.uploadResponseData.id}}</div>
    </div>
    <div ng-show="vm.uploadResponseData.hasValidations">
      <div>Missing or undefined school codes were found:</div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Row Index</th>
            <th>School No</th>
            <th>Inspection Type</th>
            <th colspan="2">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="v in vm.uploadResponseData.validations">
            <td>{{v.rowIndex}}</td>
            <td>{{v.schNo}}</td>
            <td>{{v.inspectionType}}</td>
            <td>{{v.schStatus}}</td>
            <td>{{v.inspStatus}}</td>

          </tr>
        </tbody>
      </table>

    </div>
    <div ng-show="vm.processResponseData">
     
      <table class="table table-striped">
        <thead>
          <tr>
            <th>School No</th>
            <th>Inspection ID</th>
 
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="v in vm.processResponseData.responseData">
            <td>{{v.schNo}}</td>
            <td>{{v.inspID}}</td>
          </tr>
        </tbody>
      </table>

    </div>
   

  </div>
  <div style="position:absolute; top:50%;left:50%; margin-right:-50%; transform:translate(-50%,-50%)" ng-show="vm.uploader.isUploading" >
    Uploading {{vm.uploader.progress}}% <img src="assets/img/wait.gif" />
  </div>
</div>
