﻿<div class="verticalcenter">
<a href="#/"><img src="assets/img/logo-big.png" alt="Logo" class="brand" /></a>
<div class="panel panel-primary">
    <div class="panel-body">
        <h4 class="text-center" style="margin-bottom: 25px;">Change your password</h4>
        <form action="#" class="form-horizontal" style="margin-bottom: 0px !important;">
            <div class="form-group">
                <div class="col-sm-12">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input type="text" class="form-control" id="username" placeholder="Username">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input type="password" class="form-control" id="currentpassword" ng-model="vm.oldPassword" placeholder="Current Password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <input type="password" class="form-control" id="newpassword" ng-model="vm.newPassword" placeholder="Password">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <input type="password" class="form-control" ng-model="vm.confirmPassword" placeholder="Confirm New Password">
                        </div>
                    </div>
                </div>
            </div>

</form>

    </div>
    <div class="panel-footer">
        <a href="#/" class="pull-left btn btn-link" style="padding-left:0">Forgot password?</a>

        <div class="pull-right">
            <a href="#" class="btn btn-default" ng-click="vm.ChangePassword()">Submit Change</a>
            <a href="#/" class="btn btn-primary">Log In</a>
        </div>
    </div>
</div>
</div>
