﻿@* Refer to Master/MaterialDialogLayout.cshtml *@

@section icon {
  <i class="fa fa-exclamation-circle"></i>
}

@section title {
  <h3>Record Not Found</h3>
}

@section tools {
}

<p>The record with key</p>
<ul>
  <li>{{vm.id}}</li>
</ul>
<p>could not be found. It may have been deleted by another user.</p>

@section actions {
  <md-button class="md-raised md-warn" type="button" ng-click="vm.close('retry')">Try again</md-button>
  <md-button class="md-raised " type="button" ng-click="vm.cancel()">Cancel</md-button>
}