﻿@* student enrollment List
*@
<div>
  <table class="books table table-condensed table-striped table-hover">
    <thead>
      <tr>
        <th class="colhdr gray-left-border">Enrollment Year</th>
        <th class="colhdr">{{"School No" | vocab}}</th>
        <th class="colhdr gray-left-border">Grade Level</th>
        <th class="colhdr gray-left-border">Completed</th>
        <th class="colhdr gray-left-border">Days Absent</th>
        <th class="colhdr gray-left-border">From</th>
        <th class="colhdr gray-left-border">From Date</th>
        <th class="colhdr gray-left-border">From School</th>
        <th class="colhdr gray-left-border">Outcome</th>
        <th class="colhdr gray-left-border">Outcome Reason</th>
        <th class="colhdr gray-left-border">Special Ed?</th>        
      </tr>
    </thead>
    <tbody>
      <tr data-ng-repeat="e in vm.enrollments">
        <td>{{e.stueYear}}</td>
        <td>{{e.schNo}}</td>
        <td>{{e.stueClass}}</td>
        <td>{{e.stueCompleted}}</td>
        <td>{{e.stueDaysAbsent}}</td>
        <td>{{e.stueFrom}}</td>
        <td>{{e.stueFromDate | date:"d-MMM-yyyy"}}</td>
        <td>{{e.stueFromSchool}}</td>
        <td>{{e.stueOutcome}}</td>
        <td>{{e.stueOutcomeReason}}</td>
        <td>{{e.stueSpEd}}</td>
      </tr>
    </tbody>
  </table>
</div>